.homeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://lh4.googleusercontent.com/proxy/F7gAtF3vb721uSVpQZZn-TEvlmVebELAPhkMeXFXa7xe5FXi31qMy5mJgauPw1PO-HQl-whLkVP5p2JHIrZLFFQ_lS5B53gfaaiZtKTK9CduD-s7wFdOdYcr3Fw5OMgP4g-AupCUPUCj2ktnRvuoZCIbPi9ZDkdGQg=w3840-h2160-p-k-no-nd-mv");
    background-size: contain;
    perspective: 1000px; 
}


.container {
  border-radius: 10px;
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: white;
}

.flipped .container {
  transform: rotateY(180deg);
}
