.dashboardContainer{
    padding: 1.5rem;
}
.section1{
    display: flex;
   justify-content: space-between;
}
.userIcon{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover;
}
.welcomeText{
  h1{
    font-family: 'Courier New', Courier, monospace;
  } 
}
.userProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    p {
        width: 50%;
        font-size: 15px;
        font-weight: bold;
    }
}

.section2{
    display: flex;
    gap: 10px;
    justify-content: end;
}


